table {
  width: 100%;
  padding: 90px;
  border: 1px solid #ccc;
}

.btn {
  display: flex;
  justify-content: center;
  font-size: large;
  color: blue;
}

h2 {
  text-align: center;
  font-size: 2rem;
}
